@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */

/* ----------------- font Poppins ----------------- */

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  scroll-margin: 150px;
}

/* navbar blur */

.navbar {
  backdrop-filter: blur(10px);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: #37415174;
}

/* scroll animation icon */

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  75% {
    transform: translateY(.75em);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.scroll-icon__dot {
  display: block;
  position: absolute;
  left: 50%;
  background: #ffffff96;
  height: .5em;
  width: .5em;
  top: .6em;
  margin-left: -.25em;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll 2s ease-out infinite;
}

.scroll-icon {
  display: block;
  position: relative;
  height: 3em;
  width: 1.5em;
  border: .20em solid #ffffff96;
  border-radius: 1em;
}

/* herotitle  */

.herotitle::after {
  content: "SMART TABLE";
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  color: #ffffff96;
  top: 15%;
  left: 0;
  font-size: 310px;
  opacity: 0.020;
  text-align: center;
  z-index: 0;
}

@media only screen and (min-width: 1700px){
  .herotitle::after {
    font-size: 400px;
  }
}

@media only screen and (max-width: 1530px){
  .herotitle::after {
    top: 20%;
  }
}

@media only screen and (max-width: 1040px){
  .herotitle::after {
    font-size: 170px;
  }
}

@media only screen and (max-width: 700px){
  .herotitle::after {
    font-size: 130px;
  }
}

@media only screen and (max-width: 535px){
  .herotitle::after {
    display: none;
  }
}